dokumentation/*.aux
dokumentation/*.log
dokumentation/*.lot
dokumentation/*.lof
dokumentation/*.out
dokumentation/*.bbl
dokumentation/*.blg
dokumentation/*.toc
dokumentation/*.idx
dokumentation/*.pdf
dokumentation/content/*.aux
protokolle/*.tex
aufgaben/bank/*.tex
aufgaben/server_login/*.tex
aufgaben/private_calendar/*.tex
aufgaben/kontaktverwaltung/*.tex
aufgaben/rop/*.tex
presentation_exercises/easy_heapoverflow/*.tex
presentation_exercises/easy_integer_underflow/*.tex
presentation_exercises/easy_stackoverflow/*.tex
presentation_exercises/hard_grub2-CVE-2015-8370-rebuild/*.tex
presentation_exercises/medium_rop_attack/*.tex
presentation_exercises/other_stuff/aslr_test/*.tex
presentation_exercises/other_stuff/brute_example/*.tex

